.main-container {
  text-align: center;
  font-family: sans-serif;
  .anchor-container {
    display: flex;
    width: 100%;
    justify-content: center;
    a {
      padding: 1rem 2rem;
    }
  }
}
